.table-container {
  max-width: 70%; /* Limita a largura a 70% da página */
  margin: 15px auto; /* Centraliza a tabela */
  overflow-x: auto; /* Adiciona rolagem horizontal */
  overflow-y: auto; /* Adiciona rolagem vertical */
  max-height: 500px; /* Define a altura máxima para rolagem vertical */
  border: 1px solid #ccc; /* Borda ao redor da área de rolagem */
}

table {
  width: 100%;
  min-width: 900px; /* Largura mínima para forçar a rolagem horizontal */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 0.9em; /* Ajusta o tamanho da fonte para legibilidade */
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ccc;
}

th {
  background-color: #007B55;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

.error {
  color: #d9534f;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
}

.back-button {
  position: fixed;
  bottom: 50px; /* Posição a partir do fundo */
  left: 20px;   /* Posição a partir da esquerda */
  padding: 10px 10px; /* Reduz a altura e largura interna */
  width: 130px;  /* Define uma largura fixa menor */
  font-size: 15px; /* Reduz o tamanho do texto */
  text-align: center; /* Centraliza o texto no botão */
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #0056b3;
}
